<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/support.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Support</title>
</head>
<body>
    <nav class="nav">
        <span class="nav-toggle" id="js-nav-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <div class="logo">
            <h1>ITFeature</h1>
        </div>

        <ul class="nav-ul" id="js-menu">
            <li class="nav-li"><a href="/" class="nav-a" style="color:#256aa2">หน้าหลัก</a></li>
            <li class="nav-li"><a href="/contact"class="nav-a">ติดต่อ</a></li>
            <li class="nav-li"><a href="/support"class="nav-a">สนับสนุน</a></li>
        </ul>     
    </nav>
    <div class="heading">
        <h1>สนับสนุนค่าเซิฟเวอร์</h1>
    </div>

    <div class="container">
        <div class="box">
            <img src="/Design/352869983_223937103777837_6382654401032843351_n.jpg" alt="">
            <h3>สแกนได้เลยครับ :D</h3>
            <p>ขอบคุณครับ</p>
        </div>
      </div>
      <script src="/js/webboard.js"></script>
    
</body>
</html>